/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/
/* Global styles
------------------------------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}

a {
  color: #ffe66d;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 900px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

h3 {
  margin-bottom: 0;
}

.item-details h3 + p {
  font-style: italic;
}

.item-details h3 ~ p {
  margin: 0;
}

.divider > section {
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}

.divider > section:last-of-type {
  border-bottom: none;
}

/* Skills
------------------------------------*/
.skills {
  background: #f7fff7;
}

.skills a {
  color: #fff;
  background: #318cf5;
  text-decoration: none;
  padding: 8px;
  margin: 5px;
  border-radius: 4px;
  display: inline-block;
}

.skills a:hover {
  background: #92c2fa;
}

.skills .language {
  background-color: lightsalmon;
}

.skills .framework {
  background-color: lightcoral;
}

.skills .library {
  background-color: lightseagreen;
}

.skills .database {
  background-color: lightslategrey;
}

.skills .tool {
  background-color: lightgreen;
}

/* Profile
------------------------------------*/
header {
  background: #3c3c4e;
  color: #f7fff7;
}

/* Projects
------------------------------------*/
.projects {
  background: #f7fff7;
}

.projects a {
  color: #2f3061;
}

.projects .btn {
  color: #f7fff7;
  background: #2f3061;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.projects .btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background: #2f3061;
}

.project-item {
  overflow: hidden;
}

.project-item h3 {
  margin-top: 0;
}

/* Projects HTML
------------------------------------*/
.html-grid {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 10px;
}

.html-grid figure {
  margin: 0;
}

.html-grid figure figcaption {
  color: #0d3649;
  text-align: center;
}

.html-grid a {
  margin: auto;
}

.html-grid img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  max-width: 100%;
}

.html-grid img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Projects JavaScript
------------------------------------*/
.javascript-grid {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  gap: 10px;
}

.javascript-grid figure {
  margin: 0;
}

.javascript-grid figure figcaption {
  color: #0d3649;
  text-align: center;
}

.javascript-grid a {
  margin: auto;
}

.javascript-grid img {
  margin: auto;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 200px;
  width: 100%;
}

.javascript-grid img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* JavaScript Games
------------------------------------*/
.games-grid {
  margin-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  gap: 20px;
}

.games-grid figure {
  margin: 0;
}

.games-grid figure figcaption {
  color: #0d3649;
  text-align: center;
}

.games-grid a {
  margin: auto;
}

.games-grid img {
  margin: auto;
  border: 1px dashed black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  height: 200px;
  width: 100%;
}

.games-grid img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 2px solid black;
}

/* Work Experience
------------------------------------*/
.work-experience {
  background: #a1c6d7;
}

/* Education
------------------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-size: cover;
  background-position: top right;
  padding-bottom: 100px;
}

.education p {
  width: 60%;
}

/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #f7fff7;
}

.contact-list {
  list-style-type: none;
  padding: 0;
}

.contact-list a {
  padding: 10px;
  display: inline-block;
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }
  .project-item img {
    float: left;
    margin-right: 20px;
  }
  .job-item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
    -webkit-column-gap: 20px;
            column-gap: 20px;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
  }
  .html-grid {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .html-grid figure figcaption {
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */