* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.showcase {
    background-image: url(../images/image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.clr-fix {
    clear: both;
}
nav .logo{
    float: left;
    padding: 15px 30px;
    font-size: 30px;
    font-style: italic;
}
nav ul {
    float: right;
}
ul {
    display: flex;
    justify-content: flex-end;
}
li {
    padding: 20px;
    list-style: none;
}
.main-content {
    display: flex;
    font-size: larger;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-content p {
    color: lightgray;
}
main {
    display: flex;
}
main section {
    padding: 20px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.box1, .box3 {
    background-color: lightseagreen;
}